# PYTHON BASICS

In [1]:
print("Hi I am SHOURYADIP BERA")
print("I am a FULL STACK DEVELOPER")

Hi I am SHOURYADIP BERA
I am a FULL STACK DEVELOPER

In [ ]:
# Variables and data types (int, float, str, bool)

n1 = 7
n2 = 5.87
n3 = 'programming'
n4 = True

print(type(n1))     # using type function to find the variable types
print(type(n2))
print(type(n3))
print(type(n4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# take user input in python 

n = input("Enter detail :")
print(n,type(n))

# conclusion : By default the input in python takes value as string

55778 <class 'str'>

In [5]:
# if I have to take int , float , string as input value 

n1 = int(input("Enter an integer value :"))

n2 = float(input("Enter a float value :"))

n3 = str(input("Enter a string value :"))   # for development purpose it's good to depend on declaration rather than default 

n4 = bool(input("enter true or false"))

print(n1,type(n1))
print(n2,type(n2))
print(n3,type(n3))
print(n4,type(n4))

4 <class 'int'>
4.8 <class 'float'>
s.bera <class 'str'>
True <class 'bool'>

In [1]:
# Type conversion and input/output

age = int(input("Enter an age :"))
print(age,type(age))

d1  = float(age)
print(d1,type(d1))

d2 = str(age)
print(d2,type(d2))

15 <class 'int'>
15.0 <class 'float'>
15 <class 'str'>

In [3]:
# Basic operators (+, -, *, /, //, %, **)

n1 = int(input("Enter first number :"))
n2 = int(input("Enter second number :"))

print(f"n1 :",n1," n2 :",n2)
print("Multiplication :",n1*n2)
print("Division :",n1/n2)
print("Summation :",n1+n2)
print("Substraction :",n1-n2)
print("power :",n1**n2)

n1 : 2  n2 : 5
Multiplication : 10
Division : 0.4
Summation : 7
Substraction : -3
power : 32

In [7]:
# String manipulation (len(), slicing, methods)

text = "Hi I am a Full Stack Developer"
print(len(text))

30

In [8]:
# String manipulation (len(), slicing, methods)

s = "Python"

print(s[0:2])   
print(s[2:])     
print(s[:3])     
print(s[-1])     
print(s[::-1])   
print(s[1])
print(s[::1])
print(s[0::-1])

Py
thon
Pyt
n
nohtyP
y
Python
P

In [29]:
# String manipulation (len(), slicing, methods)

print("PYTHON".lower()) #Convert to lowercase

print("hello".upper())  #Convert to uppercase

print("python".capitalize())    #Capitalize first letter

print("hello world".title())    #Capitalize first letter of each word

print(" hello ".strip())    #Remove whitespace from both ends

print("hello world".replace("world","Nick"))    #Replace substring

print("python dev".split(" "))  #Split string into a list

print(" ".join(["hello","world"]))  #Join list into string

print("world".find("l"))    #Find first index of substring

print("summer".count("m"))  #Count occurrences of substring

print("hello".startswith("he")) #Check if string starts with something

print("file.txt".endswith(".txt"))  #Check if string ends with something

print("123".isdigit())  #Checks if all characters are digits

print("abc".isalpha())  #Checks if all characters are letters

python
HELLO
Python
Hello World
hello
hello Nick
['python', 'dev']
hello world
3
2
True
True
True
True

In [30]:
# real-life use of string methods 

msg = "  Hello Python!  "

clean = msg.strip().lower().replace("python", "world")
print(clean)  # 'hello world!'

hello world!

In [31]:
#Â f-strings and formatting output 

price = 1234567.8912
print(f"Total: ${price:,.2f}")  # Add commas and round to 2 decimals

Total: $1,234,567.89

In [32]:
num = 255
print(f"Decimal: {num}, Binary: {num:b}, Hex: {num:x}, Octal: {num:o}")

Decimal: 255, Binary: 11111111, Hex: ff, Octal: 377

In [33]:
from datetime import datetime

now = datetime.now()
print(f"Current Time: {now:%Y-%m-%d %H:%M:%S}")

Current Time: 2025-05-22 23:07:12

In [34]:
value = 123.456789
width = 10
precision = 3

print(f"Formatted: {value:{width}.{precision}f}")

Formatted:    123.457

In [35]:
name = "john"
age = 30
print(f"{name.upper()} is {age * 2} years in double age.")

JOHN is 60 years in double age.